<?xml version="1.0"?>
<checkstyle version="1.3.0">
  <file name="PayloadData/GitUser.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="MessageBodyInvalidException.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \Webhook\MessageBodyInvalidException" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="6" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="CallbackRule.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \Webhook\CallbackRule" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="36" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="PayloadData/LastResponse.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="7" severity="error" message="No summary for class \Webhook\PayloadData\LastResponse" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="Payload/PingEvent.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="8" severity="error" message="No summary for class \Webhook\Payload\PingEvent" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="59" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="28" severity="error" message="No summary for property $repository" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="34" severity="error" message="No summary for property $input" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="PopulatorTrait.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="SignatureMissingException.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \Webhook\SignatureMissingException" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="6" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="PayloadData/HeadCommit.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="Request.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \Webhook\Request" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="142" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="52" severity="error" message="No summary for property $_payload" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="PayloadData/Sender.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="7" severity="error" message="No summary for class \Webhook\PayloadData\Sender" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="EventCallbackRule.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \Webhook\EventCallbackRule" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="8" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="Callback.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \Webhook\Callback" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="36" severity="error" message="Name of argument $payload does not match with the DocBlock's name $hubSignature in validatePayload()" source="phpDocumentor.file.PPC:ERR-50014"/>
    <error line="36" severity="error" message="The type hint of the argument is incorrect for the type definition of the @param tag with argument $payload in validatePayload()" source="phpDocumentor.file.PPC:ERR-50016"/>
    <error line="36" severity="notice" message="Parameter $hubSignature could not be found in validatePayload()" source="phpDocumentor.file.PPC:ERR-50013"/>
    <error line="36" severity="notice" message="Parameter $rawPayload could not be found in validatePayload()" source="phpDocumentor.file.PPC:ERR-50013"/>
    <error line="118" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="InvalidRequest.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="Populatable.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="InvalidRequestException.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \Webhook\InvalidRequestException" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="27" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="PayloadData/Commit.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="UrlCallbackRule.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \Webhook\UrlCallbackRule" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="8" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="PayloadData/RepositoryOwner.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="7" severity="error" message="No summary for class \Webhook\PayloadData\RepositoryOwner" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="PayloadData/CommitTrait.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="PopulateListener.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for interface \Webhook\PopulateListener" source="phpDocumentor.file.PPC:ERR-50009"/>
  </file>
  <file name="Payload/EventProviderInterface.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for interface \Webhook\Payload\EventProviderInterface" source="phpDocumentor.file.PPC:ERR-50009"/>
    <error line="6" severity="error" message="No summary for method toEvent()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="PayloadData/RepositoryTrait.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for trait \Webhook\PayloadData\RepositoryTrait" source="phpDocumentor.file.PPC:ERR-50010"/>
  </file>
  <file name="SignatureInvalidException.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \Webhook\SignatureInvalidException" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="6" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="Payload/Event.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="6" severity="error" message="No summary for class \Webhook\Payload\Event" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="43" severity="error" message="No summary for method getPayloadData()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="51" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="69" severity="error" message="No summary for method populateComplete()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="10" severity="error" message="No summary for property $repository" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="PayloadData/CommitAuthor.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="PayloadData/Repository.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="8" severity="error" message="No summary for class \Webhook\PayloadData\Repository" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="34" severity="error" message="No summary for method populateComplete()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="PayloadData/Organization.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="7" severity="error" message="No summary for class \Webhook\PayloadData\Organization" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="PayloadData/Hook.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="8" severity="error" message="No summary for class \Webhook\PayloadData\Hook" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="PayloadData/PingRepository.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="7" severity="error" message="No summary for class \Webhook\PayloadData\PingRepository" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="PayloadData/License.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="7" severity="error" message="No summary for class \Webhook\PayloadData\License" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="Payload.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="7" severity="error" message="No summary for class \Webhook\Payload" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="38" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="18" severity="error" message="No summary for property $sender" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="Payload/PushEvent.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="94" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="21" severity="error" message="No summary for property $organization" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="26" severity="error" message="No summary for property $repository" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="55" severity="error" message="No summary for property $commits" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="60" severity="error" message="No summary for property $head_commit" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="65" severity="error" message="No summary for property $pusher" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="71" severity="error" message="No summary for property $input" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="PayloadData/HookConfig.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="7" severity="error" message="No summary for class \Webhook\PayloadData\HookConfig" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="PayloadData/Pusher.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="7" severity="error" message="No summary for class \Webhook\PayloadData\Pusher" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="EventMissingException.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \Webhook\EventMissingException" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="6" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
</checkstyle>
